<h3> Lista nastavnika </h3>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <!-- <th> Id nastavnika </th> -->
            <th> Ime i prezime nastavnika </th>
            <th> Broj telefona nastavnika </th>
            <th> Status nastavnika </th>
            <th> Katedra </th>
            <th> Akcije</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let nastavnik of nastavnici">
           <!--  <td> {{nastavnik.nastavnikId }} </td> -->
            <td> {{ nastavnik.imePrezime}} </td>
            <td> {{ nastavnik.brojTelefona}} </td>
            <td> {{ nastavnik.status}} </td>
            <td> {{nastavnik.katedra.nazivKatedre}}</td>
            <td>      
                <button type="button"
                    (click)="updateNastavnik(nastavnik.nastavnikId)" class="btn btn-outline-primary">Ažuriraj
                </button>
            <!--     <button type="button"
                    (click)="deleteNastavnik(nastavnik.nastavnikId)" class="btn btn-outline-danger" style="margin-left: 10px;">Obriši
                </button> -->
            </td>
        </tr>
    </tbody>
</table>