<h3> Lista katedri </h3>
<br>
<table class="table table-striped">
    <thead>
        <tr>
           <!-- <th>Id katedre </th> -->
            <th>Naziv katedre </th>
            <th>Skraćeni naziv katedre</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let katedra of katedre">
          <!--  <td> {{ katedra.katedraId}} </td>-->
            <td>   {{ katedra.nazivKatedre}} </td>
            <td>   {{ katedra.skraceniNazivKatedre}} </td>
            <td>      
                <button type="button"
                    (click)="updateKatedra(katedra.katedraId)" class="btn btn-outline-primary">Ažuriraj
                </button>
            <!--   <button type="button"
                    (click)="deleteKatedra(katedra.katedraId)" class="btn btn-outline-danger" style="margin-left: 10px;">Obriši
                </button> --> 
            </td>
        </tr>
    </tbody>
</table>
