<h3> Lista katedri </h3>
<br>
<div class="form-group row">
    <label for="search" class="col-sm-1 col-form-label" style="text-align: left;">Pretraži</label>
    <div class="col-sm-2">
        <input type="text" [(ngModel)]="searchValue" class="form-control" id="search" />
    </div>

</div>
<br>
<table class="table table-striped"> 
    <thead>
        <tr>
           <!-- <th>Id katedre </th> -->
            <th>Naziv katedre </th>
            <th>Skraćeni naziv katedre</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let katedra of katedre | searchkatedra:searchValue " >
          <!--  <td> {{ katedra.katedraId}} </td>-->
            <td>   {{ katedra.nazivKatedre}} </td>
            <td>   {{ katedra.skraceniNazivKatedre}} </td>
            <td>      
                <button type="button"
                    (click)="updateKatedra(katedra.katedraId)" class="btn btn-outline-primary">Ažuriraj
                </button>
            <!--   <button type="button"
                    (click)="deleteKatedra(katedra.katedraId)" class="btn btn-outline-danger" style="margin-left: 10px;">Obriši
                </button> --> 
            </td>
        </tr>
    </tbody>
</table>
