<h2> Lista izvodjaca: </h2>

 <!-- <div class="btn-group" style="margin-bottom: 10px;">
    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
            Izaberi godinu:
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">2021/2022</a>
            <a class="dropdown-item" href="#">2022/2023</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"  routerLink="izvodjaci" routerLinkActive="active" class="nav link">  Izlistaj sve izvodjače</a>
        </div>
    </div> -->

    <div class="form-group row" >
        <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">Pretraži</label>
        <div class="col-sm-2">
            <input type="text" [(ngModel)]="searchValue" class="form-control" id="search" />
        </div>

    </div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Ime i prezime nastavnika</th>
            <th>Naziv predmeta</th>
            <th>Vrsta uloge</th>
            <th>Školska godina</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let izvodjac of izvodjaci | searchfilter:searchValue" >
          <!--  <td> {{ katedra.katedraId}} </td>-->
          <td>{{izvodjac.nastavnik.imePrezime}}</td>
          <td>{{izvodjac.predmet.nazivPredmeta}}</td>
          <td>{{izvodjac.uloga.vrstaUloge}}</td>
          <td>{{izvodjac.godina.kalendarskaGodina}}</td>
        </tr>
    </tbody>
</table>