<br>
<h3>  </h3>

<!-- <div class="btn-group" style="margin-bottom: 10px;">
    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
            Izaberi godinu:
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">2021/2022</a>
            <a class="dropdown-item" href="#">2022/2023</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"  routerLink="izvodjaci" routerLinkActive="active" class="nav link">  Izlistaj sve izvodjače</a>
        </div>
    </div> -->

<br>
<!--
<div class="form-group row">
    <label for="search" class="col-sm-1 col-form-label" style="text-align: left;">Pretraži</label>
    <div class="col-sm-2">
        <input type="text" [(ngModel)]="searchValue" class="form-control" id="search" />
    </div>

</div>
-->
<h2> Prva Godina </h2>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>R.br.</th>
            <th>Naziv predmeta</th>
            <th>Naziv katedre</th>
            <th>Semestar</th>
            <th>ESPB</th>
            <th>Dodatno</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let izvodjac of izvodjaci  | searchfilter:searchValue">

            <!--  <td> {{ katedra.katedraId}} </td>
          <td>{{izvodjac.nastavnik.imePrezime}}</td>
          <td>{{izvodjac.predmet.nazivPredmeta}}</td>
          <td>{{izvodjac.uloga.vrstaUloge}}</td>
          <td>{{izvodjac.godina.kalendarskaGodina}}</td>  -->
            <td *ngIf="izvodjac.semestar==1 || izvodjac.semestar==2"> {{izvodjac.pozicija}} </td>
            <td *ngIf="izvodjac.semestar==1 || izvodjac.semestar==2">{{izvodjac.predmet.nazivPredmeta}}</td>
            <td *ngIf="izvodjac.semestar==1 || izvodjac.semestar==2">{{izvodjac.predmet.katedra.skraceniNazivKatedre}}
            </td>
            <td *ngIf="izvodjac.semestar==1 || izvodjac.semestar==2">{{izvodjac.semestar}}</td>
            <td *ngIf="izvodjac.semestar==1 || izvodjac.semestar==2"> {{izvodjac.predmet.espb}}</td>
            <td *ngIf="izvodjac.semestar==1 || izvodjac.semestar==2">
                <button type="button" (click)="izvodjacInfo(izvodjac.predmet.predmetId)"
                    class="btn btn-outline-info">Info
                </button>
            </td>
        </tr>

    </tbody>

</table>
<br>

<h2> Druga Godina </h2>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>R.br.</th>
            <th>Naziv predmeta</th>
            <th>Naziv katedre</th>
            <th>Semestar</th>
            <th>ESPB</th>
            <th>Dodatno</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let izvodjac of izvodjaci | searchfilter:searchValue">
            <!--  <td> {{ katedra.katedraId}} </td>
          <td>{{izvodjac.nastavnik.imePrezime}}</td>
          <td>{{izvodjac.predmet.nazivPredmeta}}</td>
          <td>{{izvodjac.uloga.vrstaUloge}}</td>
          <td>{{izvodjac.godina.kalendarskaGodina}}</td>  -->
            <td *ngIf="izvodjac.semestar==3 || izvodjac.semestar==4">{{izvodjac.pozicija}} </td>
            <td *ngIf="izvodjac.semestar==3 || izvodjac.semestar==4">{{izvodjac.predmet.nazivPredmeta}}</td>
            <td *ngIf="izvodjac.semestar==3 || izvodjac.semestar==4">{{izvodjac.predmet.katedra.skraceniNazivKatedre}}
            </td>
            <td *ngIf="izvodjac.semestar==3 || izvodjac.semestar==4">{{izvodjac.semestar}}</td>
            <td *ngIf="izvodjac.semestar==3 || izvodjac.semestar==4">{{izvodjac.predmet.espb}}</td>
            <td *ngIf="izvodjac.semestar==3 || izvodjac.semestar==4">
                <button type="button" (click)="izvodjacInfo(izvodjac.predmet.predmetId)"
                    class="btn btn-outline-info">Info
                </button>
            </td>

        </tr>
    </tbody>
</table>

<br>

<h2> Treća Godina </h2>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>R.br.</th>
            <th>Naziv predmeta</th>
            <th>Naziv katedre</th>
            <th>Semestar</th>
            <th>ESPB</th>
            <th>Dodatno</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let izvodjac of izvodjaci | searchfilter:searchValue">
            <!--  <td> {{ katedra.katedraId}} </td>
          <td>{{izvodjac.nastavnik.imePrezime}}</td>
          <td>{{izvodjac.predmet.nazivPredmeta}}</td>
          <td>{{izvodjac.uloga.vrstaUloge}}</td>
          <td>{{izvodjac.godina.kalendarskaGodina}}</td> -->
            <td *ngIf="izvodjac.semestar==5 || izvodjac.semestar==6"> {{izvodjac.pozicija}} </td>
            <td *ngIf="izvodjac.semestar==5 || izvodjac.semestar==6">{{izvodjac.predmet.nazivPredmeta}}</td>
            <td *ngIf="izvodjac.semestar==5 || izvodjac.semestar==6">{{izvodjac.predmet.katedra.skraceniNazivKatedre}}
            </td>
            <td *ngIf="izvodjac.semestar==5 || izvodjac.semestar==6">{{izvodjac.semestar}}</td>
            <td *ngIf="izvodjac.semestar==5 || izvodjac.semestar==6">{{izvodjac.predmet.espb}}</td>
            <td *ngIf="izvodjac.semestar==5 || izvodjac.semestar==6">
                <button type="button" (click)="izvodjacInfo(izvodjac.predmet.predmetId)"
                    class="btn btn-outline-info">Info
                </button>
            </td>
        </tr>
    </tbody>
</table>

<br>

<h2> Četvrta Godina </h2>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>R.br.</th>
            <th>Naziv predmeta</th>
            <th>Naziv katedre</th>
            <th>Semestar</th>
            <th>ESPB</th>
            <th>Dodatno</th>
            <!--           <th>Vrsta uloge</th>
            <th>Školska godina</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let izvodjac of izvodjaci | searchfilter:searchValue">
            <!--  <td> {{ katedra.katedraId}} </td>-->
            <!--      <td>{{izvodjac.nastavnik.imePrezime}}</td>
          <td>{{izvodjac.predmet.nazivPredmeta}}</td>
          <td>{{izvodjac.uloga.vrstaUloge}}</td>
          <td>{{izvodjac.godina.kalendarskaGodina}}</td> -->
            <td *ngIf="izvodjac.semestar==7 || izvodjac.semestar==8">{{izvodjac.pozicija}} </td>
            <td *ngIf="izvodjac.semestar==7 || izvodjac.semestar==8">{{izvodjac.predmet.nazivPredmeta}}</td>
            <td *ngIf="izvodjac.semestar==7 || izvodjac.semestar==8">{{izvodjac.predmet.katedra.skraceniNazivKatedre}}
            </td>
            <td *ngIf="izvodjac.semestar==7 || izvodjac.semestar==8">{{izvodjac.semestar}}</td>
            <td *ngIf="izvodjac.semestar==7 || izvodjac.semestar==8">{{izvodjac.predmet.espb}}</td>
            <td *ngIf="izvodjac.semestar==7 || izvodjac.semestar==8">
                <button type="button" (click)="izvodjacInfo(izvodjac.predmet.predmetId)"
                    class="btn btn-outline-info">Info
                </button>
            </td>


        </tr>
    </tbody>
</table>