<br>
<br>
<h3> Detalji katedre </h3>

<div>
    <div>
        <label> <b> Naziv katedre: </b></label> {{nastavnici[0].katedra.nazivKatedre}}
    </div>
    <div>
        <label> <b> Skraćeni naziv katedre: </b></label> {{nastavnici[0].katedra.skraceniNazivKatedre}}
    </div>


</div>

<br>
<br>
<br>
<h3> Nastavnici </h3>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Ime i prezime nastavnika</th>
            <th>Broj telefona</th>
            <th>Status</th>

        </tr>
    </thead>
    <tbody>
       <tr *ngFor="let nastavnik of nastavnici "> 
            <td> {{nastavnik.imePrezime}}</td>
            <td>{{nastavnik.brojTelefona}}</td>
            <td>{{nastavnik.status}}</td>
        </tr>

    </tbody>

</table>

