<br>
<br>
<h2> Detalji o izvođenju </h2>


<br>
<h3> Detalji o predmetu </h3>
<br>
<div>
    <div>
        <label> <b> Naziv predmeta: </b></label> {{izvodjaci[0].predmet.nazivPredmeta}}
    </div>
    <div>
        <label> <b> Semestar: </b></label> {{izvodjaci[0].semestar}}
    <div>
            <label> <b> ESPB: </b></label> {{izvodjaci[0].predmet.espb}}
    </div>
    <div>
        <label> <b> Naziv katedre: </b></label> {{izvodjaci[0].nastavnik.katedra.nazivKatedre}}
    </div>
    <div>
        <label> <b> Skraćeni naziv katedre: </b></label> {{izvodjaci[0].nastavnik.katedra.skraceniNazivKatedre}}
    </div>
</div>

<br>
<br>
<h2> Nastavnici zaduženi za realizaciju nastave  </h2>

<br>



    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ime i prezime nastavnika</th>
                <th>Status nastavnika</th>
                <th>Broj telefona nastavnika</th>
                <th>Uloga</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
    
           <tr *ngFor="let izvodjac of izvodjaci "> 

                <!--  <td> {{ katedra.katedraId}} </td>
              <td>{{izvodjac.nastavnik.imePrezime}}</td>
              <td>{{izvodjac.predmet.nazivPredmeta}}</td>
              <td>{{izvodjac.uloga.vrstaUloge}}</td>
              <td>{{izvodjac.godina.kalendarskaGodina}}</td>  
                <td> {{izvodjac.predmet.nazivPredmeta}}</td>-->
                <td>{{izvodjac.nastavnik.imePrezime}}</td>
                <td>{{izvodjac.nastavnik.status}}</td>
                <td>{{izvodjac.nastavnik.brojTelefona}}</td>
                <td>{{izvodjac.uloga.vrstaUloge}}</td>
             <td><button type="button" 
                    class="btn btn-outline-danger">Izmeni
                </button>     
            </td> 
            </tr>
    
        </tbody>
    
    </table>

