<h3> Lista predmeta </h3>
<br>
<div class="form-group row">
    <label for="search" class="col-sm-1 col-form-label" style="text-align: left;">Pretraži</label>
    <div class="col-sm-2">
        <input type="text" [(ngModel)]="searchValue" class="form-control" id="search" />
    </div>

</div>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <!-- <th> Id predmeta </th> -->
            <th> Naziv predmeta </th>
       <!--     <th> Semestar </th>-->
            <th> Katedra </th>
            <th> Skraćeni naziv katedre </th>
            <th> </th> 
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let predmet of predmeti | searchpredmet:searchValue">
           <!--  <td> {{predmet.predmetId}} </td> -->
            <td>   {{ predmet.nazivPredmeta}} </td>
        <!--    <td>   {{ predmet.semestar}} </td> -->
         <!--   <td>   {{ predmet.obavezan}} </td> -->
            <td> {{predmet.katedra.nazivKatedre}}</td>
            <td> {{predmet.katedra.skraceniNazivKatedre}}</td>
              <td>      
                <button type="button"
                    (click)="updatePredmet(predmet.predmetId)" class="btn btn-outline-primary">Ažuriraj
                </button>
            <!--  <button type="button"
                    (click)="deletePredmet(predmet.predmetId)" class="btn btn-outline-danger" style="margin-left: 10px;">Obriši
                </button> 
            </td> -->
        </tr>
    </tbody>
</table>